
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: linear-gradient(
    135deg,
    #f7f9fc 0%,
    #e4eef7 45%,
    #d9e7f3 70%,
    #f1e5e6 100%
  );

  background-attachment: fixed;
}

.banner {
  background: #808080;
  background: linear-gradient(96deg, #0a2e5d 8%, #174f91 65%, #1d64b7 100%);
  border: outset 10px #164fc5;
  z-index: 20;
  position: fixed;
  width: 100%;
}

h1 {
  color: #ffffff;
  padding: 0px;
  padding-top: 0px;
  margin-left: 4%;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0%;
}

.menu a {
  color: #ddeeff;
  text-decoration: none;
}

.menu a:hover{
  color: #0a2e5d;
  background-color: #ddeeff;
  text-decoration: none;

}

section {
  color: #000000;
}


a{
  
  text-decoration: none;
  color: #0019fa;
}

a:hover{
  text-decoration: underline;
}

.apresentando {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #0a2e5d 20px;
  width: 100%;
}

.moveh2 {
  padding-bottom: 25px;
  padding-top: 100px;
  color: #000000;
  width: 400px;
}

/* clamp(min,ideal,max) */

.p1 {
  padding-bottom: 5px;
font-size: clamp(12px,2vw,20px);
}

h3 {
  padding-top: 130px;
  margin-left: 43%;
  margin-bottom: 22%;
  margin-top: 22%;

  
}

.imgfoto {
  display: block;
  border-radius: 200px;
  border: 13px outset #164fc5;
  width: 550px;
  margin-inline: auto;
  margin-top: 1%;
}

.texturasimg {
  border-radius: 10px;
  border: 13px outset #00007d;
  width: 300px;
}

.interesse {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
  margin-inline: 0;
  border-radius: 20px;
  padding: 20px;
  
 
  
}



.interesse .estilo {
  width: 200px;
  border: outset 4px #b85f63;
  border-radius: 25px;
  background-color: #ebe5e9;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  
}

.social {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 4%;
  z-index: 15;
  border-radius: 30px;
  
  border: solid 4px #000000;
}

.container-produtos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

@media(max-width:468px){
 h3{
  margin:  auto;
  text-align: center;
 }
 }
  


